.badge {
  padding: 5px 10px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 10px;
  text-align: center;
  margin: 0 5px 5px 0;
  color: var(--font-color, #fff);
  background: var(--background-color, #000);
  background-size: 100% 100%;
}